body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background:aquamarine;
  color: #333;
  line-height: 1.6;
}

header {
  background: yellow;
  color:black;
  text-align: center;
}